.layout {
    padding: 40px 80px;
    overflow-y: scroll;
    flex-grow: 1;
    position: relative;
    margin-bottom: 50px;

    .author_layout {
        display: flex;
        justify-content: space-between;

        .author_info_layout {
            display: flex;

            .avatar {
                border-radius: 50%;
            }

            .info_layout {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .author_name {
                    margin: 0;
                }

                .introduction {
                    color: grey;
                }
            }
        }
    }

    .title {
        text-align: center;
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .deadline {
        text-align: center;
        margin-bottom: 10px;
        color: grey;
    }

    .content {
        z-index: 1;
        margin-bottom: 40px;
    }

    .alter_layout {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;

        .alter_icon {
            font-size: 18px;
        }
    }

    .operation_layout {
        position: fixed;
        bottom: 0;
        background-color: white;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        z-index: 3;

        .operation_item_layout {
            display: flex;
            margin-right: 40px;
            height: 40px;
            align-items: center;

            .operation_icon {
                font-size: 24px;
                color: grey;
            }

            .operation_active_icon {
                color: red;
            }

            .number {
                margin-left: 5px;
            }
        }
    }

    .pick_layout {
        display: flex;
        justify-content: center;
    }

    .look_layout {
        .pick_user_title {
            margin-bottom: 20px;
        }

        .pick_user_layout {
            display: grid;
            grid-template-columns: repeat(4, 23%);
            grid-row-gap: 20px;
            grid-column-gap: 20px;

            .pick_user_item_layout {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #eee;
                position: relative;
                height: 170px;

                .pick_user_item_avatar {
                    margin: 10px 0 6px 0;
                    border-radius: 50%;
                }

                .pick_user_item_name {
                    font-weight: bold;
                    margin-bottom: 16px;
                }

                .pick_user_item_introduction {
                    width: 80%;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .pick_user_operation {
                    width: 100%;
                    background-color: rgba($color: #00CCFF, $alpha: .4);
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    justify-content: space-around;
                    padding: 6px 0;

                    .pick_user_operation_icon {
                        font-size: 22px;
                        display: inline-block;
                        cursor: pointer;

                        &_normal {
                            color: red;
                        }

                        &_pick {
                            color: blue;
                        }
                    }
                }
            }
        }
    }
}